body {
    background:black;
}

h4, h3, h5, p {
    color: whitesmoke;
    margin: 0em;
    text-align: center;
}


#canvas1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background: white;
    border: 5px solid goldenrod;
    border-radius: 3px;
}

#canvas2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background: white;
    z-index: -1;
    /* display: none; */
}

img{
    display: none;
}